/.project.bak
/.settings/com.googlecode.goclipse.core.prefs
/.settings/org.eclipse.ltk.core.refactoring.prefs
/pkg
/bin
go.sum
/.svn
/src/tcptlsserver/*.exe
/src/tcptlsserver/ca/ca.cer
/src/tcptlsserver/ca/ca.csr
/src/tcptlsserver/ca/cakey.pem
/src/tcptlsserver/ca/openssl.cnf
/src/tcptlsserver/client/client.cer
/src/tcptlsserver/client/client.csr
/src/tcptlsserver/client/clientkey.pem
/src/tcptlsserver/client/openssl.cnf
/src/tcptlsserver/log/tcptlsserver.log
/src/tcptlsserver/log/tcptlsserver.log.bak
/src/tcptlsserver/server/openssl.cnf
/src/tcptlsserver/server/server.cer
/src/tcptlsserver/server/server.csr
/src/tcptlsserver/server/serverkey.pem
